<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="title" content="::빵야TV::KMF2018">
		<meta name="keywords" content="">
		<meta name="Description" content="">		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>::빵야TV::KMF2018</title>
		<link rel="stylesheet" href="../common/bootstrap.css">
		<link rel="stylesheet" href="./css/kmf_common.css">
		<link rel="stylesheet" href="./css/animation_custom.css">				
	</head>
	 <body class="promotion-top">
	 	<div class="wrap">
	 		<!-- Navigation -->
			<nav class="navbar navbar-fixed-top" role="navigation">
				<div class="inner">
					<div class="navbar-header page-scroll">
						<a class="navbar-brand brand-logo page-scroll" href="https://www.bbangyatv.com/" target="bbangyatv"><img src="./images/logo_bbangyatv.png" alt="bbangyatv">bbangyatv</a>
						<span class="icon icon-close"></span>
						<a class="navbar-brand brand-logo page-scroll" href="#main-top"><img src="./images/logo_kmf.png" alt="KMF2018">KMF2018</a>
					</div>					
					<div class="navbar-collapse">
						<ul class="navbar-nav navbar-center">
							<li class="hidden">
								<a class="page-scroll" href="#main-top"></a>
							</li>
							<li data-id="program">
								<a class="page-scroll" href="#programTop">Program</a>
							</li>
							<li data-id="lineup">
								<a class="page-scroll" href="#lineup">LineUp</a>
							</li>
							<li data-id="schedule">
								<a class="page-scroll" href="#schedule">Schedule</a>
							</li>
							<li data-id="event">
								<a class="page-scroll" href="#event">Event</a>
							</li>
							<li data-id="ticket">
								<a class="page-scroll" href="#ticket">Ticket</a>
							</li>
						</ul>					
					</div>
					<div class="nav navbar-nav navbar-right">
						<div class="inline myinfo-item">
							<span>
								<a href="https://www.bbangyatv.com/account/historyPayment" target="bbangyatv">구매내역</a>
							</span>
						</div>
						<div class="divider"></div>
						<div class="inline lang-item">
							<span class="select">
								<a href="#" data-lang="ko">한국어</a>
							</span>
							<span>
								<a href="#" data-lang="en">English</a>
							</span>
						</div>
					</div>
				</div>
			</nav>
			<div class="contents-wrap">
				<section id="main-top" class="main-section">
					<div class="content-container">
						<div class="section-bg_main">
							<div class="ani-main">
								<div class="ani cloud-left1 animated fadeInLeft">
									<div class="cloud1"><img src="./images/main-top_cloud-left-01.png"></div>
								</div>
								<div class="ani cloud-right-set1 animated fadeInRight">
								    <div class="cloud"><img src="./images/main-top_cloud-right-01.png"></div>
								    <div class="balloon"><img src="./images/main-top_balloon-right-01.png"></div>
								</div>
								<div class="ani go-point animated hidden">
								    <div class="point_go"><img src="./images/point_go.png"></div>
								</div>
								<div class="ani fireworks-right-set1 animated">
									<div class="fireworks fireworks-white"><img src="./images/fireworks-white.png"></div>								   
								    <div class="fireworks fireworks-blue"><img src="./images/fireworks-blue.png"></div>
								    <div class="fireworks fireworks-red"><img src="./images/fireworks-red.png"></div>
								   
								</div>
							</div>
							<div class="content-inner">
								<div id="popupLayer" class="popup-layer" v-if="show">
									<div class="popup-container">
										<button class="btn btn-transparent" v-on:click="close"><span class="icon icon-close"></span></button>
										<div class="popup-contnets">
											<a href="#event" v-on:click="close"><img src="./images/popup_event_ko.png"></a>
										</div>
										<div class="popup-footer">
											<div class="checkbox">
												<label> 
													<input type="checkbox" class="input-style" value="1" v-on:click="close"> 오늘 하루 이 창을 열지 않음
												</label>
											</div>
										</div>																			
									</div>
								</div>
								<div id="MainMap" class="content-header">
									<template v-if="language === 'ko'">
										<h1 class="main-title">Korea Music Festival 2018</h1>
										<span class="sub-title">KMF의 모든 프로그램을 빵야TV에서 온라인 생중계!!</span>
										<div class="info-area">
											<div class="performance-info"><mark><span class="f-b-bold">일정 :</span><span> 2018. 08. 01(WED) ~ 02(THU)  AM 11:00 ~PM 9:30 (KST)</span></mark></div>
											<div class="performance-info"><mark><span class="f-b-bold">장소 :</span><span> 고척 스카이 돔</span></mark></div>
										</div>
									</template>
									<template v-else>
										<h1 class="main-title">Korea Music Festival 2018</h1>
										<span class="sub-title">bbangya tv will live-stream all programs of kmf!</span>
										<div class="info-area">
											<div class="performance-info"><mark><span class="f-b-bold">Date :</span><span> August 1 - 2, 2018 from 11:00am to 9:30pm (KST)</span></mark></div>
											<div class="performance-info"><mark><span class="f-b-bold">Location :</span><span> Gocheock sky dome</span></mark></div>
										</div>
									</template>
									<div class="main_stage-area">
										<div class="building building_backstage">											
											<a href="#program03"><img src="./images/building_backstage.png"></a>											
										</div>
										<div class="building building_summer">
											<a href="#program05"><img src="./images/building_summer.png"></a>
										</div>
										<div class="building building_dom">
											<a href="#program03"><img src="./images/building_dom.png"></a>
										</div>
										<div class="building building_fanmeeting">
											<a href="#programFanmeeting"><img src="./images/building_fanmeeting.png"></a>
										</div>									
									</div>
									<div class="main_stage-area">
										<div class="building building_ticket">
											<a href="#ticket"><img src="./images/building_ticket.png"></a>
										</div>
										<div class="building building_mysinger">
											<a href="#program02"><img src="./images/building_mysinger.png"></a>
										</div>
										<div class="building building_redcarpet">
											<a href="#program02"><img src="./images/building_redcarpet.png"></a>
										</div>
										<div class="building building_instarzone">
											<a href="#program04"><img src="./images/building_instarzone.png"></a>
										</div>									
									</div>	
									<div class="main_stage-area">
										<div class="building building_vhc">
											<a href="#program05"><img src="./images/building_vhc.png"></a>
										</div>
										<div class="building building_imsinger">
											<a href="#program05"><img src="./images/building_imsinger.png"></a>
										</div>
										<div class="building building_vr">
											<a href="#program06"><img src="./images/building_vr.png"></a>
										</div>									
									</div>
									<div class="main_stage-area">
										<div class="building building_dancedance">
											<a href="#program02"><img src="./images/building_dancedance.png"></a>
										</div>									
									</div>									
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="program" class="program-section">					
					<div class="content-container">				
						<div class="section-bg_program">
							<article id="programTop" class="program-section_top">
								<div class="ani-program">
									<div class="ani cloud-left1 animated fadeInLeft">
										<div class="cloud1"><img src="./images/program_cloud-left-01.png"></div>
									</div>
									<div class="ani cloud-right-set1 animated fadeInRight">
										<div class="cloud"><img src="./images/program_cloud-right-01.png"></div>
										<div class="balloon animated shake"><img src="./images/program_balloon-right-01.png"></div>
									</div>
									<div class="ani cloud-left-set1 animated fadeInLeft">
										<div class="cloud"><img src="./images/program_cloud-left-02.png"></div>
										<div class="balloon animated shake"><img src="./images/program_balloon-left-01.png"></div>
									</div>
									
									<div class="ani cloud-left2 animated fadeInLeft">
										<div class="cloud1"><img src="./images/program_cloud-left-03.png"></div>
									</div>
									<div class="ani cloud-rigt1 animated fadeInRight">
										<div class="cloud1"><img src="./images/program_cloud-left-02.png"></div>
									</div>
									<div class="ani cloud-left-set2 animated fadeInLeft">
										<div class="cloud"><img src="./images/program_cloud-left-04.png"></div>
										<div class="balloon animated"><img src="./images/program_balloon-left-02.png"></div>
									</div>
									<div class="ani cloud-rigt2 animated fadeInRight">
										<div class="cloud1"><img src="./images/program_cloud-right-05.png"></div>
									</div>
								</div>
								<div id="ProgramHeader" class="content-inner">
									<div class="content-header program-header">
										<h1 class="main-title">KMF Live Program</h1>
										<span class="sub-title">{{ header_local }}</span>									
									</div>
								</div>
							</article>
							<article id="programFanmeeting" class="program-contents program-section_01">								
								<div class="content-inner">
									<div class="content-box">
										<div class="stage-area">
											<img src="./images/program_building_fanmeeting.png">
										</div>
										<div id="ProgramInfo01" v-bind:class="classForEnded" class="program-info">
											<div class="state_upcoming hidden">UPCOMING</div>
											<div class="program-title f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
												<div class="days"><span class="f-b-bold day2">DAY2</span><span>{{ schedule_local_day2 }}</span></div>								
											</div>
											<div class="program-summary f-n-bold hidden">{{ description_local }}</div>
											<div class="btn-group">
												<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-l">{{ channel_title_local }}</button>
											</div>
										</div>
									</div>
								</div>
							</article>
							
							<article id="program02" class="program-contents program-section_02">
								<div class="content-inner">
									<div class="content-box">
										<div id="ProgramInfo02" v-bind:class="classForEnded" class="program-info">
											<div class="program-title fs-m f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days fs-m"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
											</div>
											<div class="program-summary fs-m f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-m">{{ channel_title_local }}</button>
										</div>
									</div>
									<div class="content-box">
										<div id="ProgramInfo03" v-bind:class="classForEnded" class="program-info">
											<div class="program-title fs-m f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days fs-m"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
											</div>
											<div class="program-summary fs-m f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-m">{{ channel_title_local }}</button>
										</div>
									</div>
									<div class="content-box">
										<div id="ProgramInfo04" v-bind:class="classForEnded" class="program-info">
											<div class="program-title fs-m f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days fs-m"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
												<div class="days fs-m"><span class="f-b-bold day2">DAY2</span><span>{{ schedule_local_day2 }}</span></div>								
											</div>
											<div class="program-summary fs-m f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-m">{{ channel_title_local }}</button>
										</div>
									</div>
								</div>
							</article>
							
							<article id="program03" class="program-contents program-section_03">
								<div class="content-inner">
									<div class="content-box left">
										<div class="stage-area">
											<img src="./images/program_building_dom.png">
										</div>
										<div id="ProgramInfo05" v-bind:class="classForEnded" class="program-info">
											<div class="state_end hidden">END</div>
											<div class="program-title f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
												<div class="days"><span class="f-b-bold day2">DAY2</span><span>{{ schedule_local_day2 }}</span></div>								
											</div>
											<div class="program-summary f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-l">{{ channel_title_local }}</button>
										</div>
									</div>
									<div class="content-box right">
										<div id="ProgramInfo06" v-bind:class="classForEnded" class="program-info">
											<div class="state_upcoming hidden">UPCOMING</div>
											<div class="program-title f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
												<div class="days"><span class="f-b-bold day2">DAY2</span><span>{{ schedule_local_day2 }}</span></div>								
											</div>
											<div class="program-summary f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-l">{{ channel_title_local }}</button>
										</div>
									</div>
								</div>
							</article>
							<article id="program04" class="program-contents program-section_04">
								<div class="content-inner">
									<div class="content-box">
										<div class="stage-area">
											<img src="./images/program_building_instarzone.png">
										</div>
										<div id="ProgramInfo07" v-bind:class="classForEnded" class="program-info">
											<div class="state_upcoming hidden">UPCOMING</div>
											<div class="program-title f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
												<div class="days"><span class="f-b-bold day2">DAY2</span><span>{{ schedule_local_day2 }}</span></div>								
											</div>
											<div class="program-summary f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-l">{{ channel_title_local }}</button>
										</div>
									</div>
								</div>
							</article>
							<article id="program05" class="program-contents program-section_05">
								<div class="content-inner">
									<div class="content-box">
										<div id="ProgramInfo08" v-bind:class="classForEnded" class="program-info">
											<div class="program-title fs-m f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days fs-m"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
											</div>
											<div class="program-summary fs-m f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-m">{{ channel_title_local }}</button>
										</div>
									</div>
									<div class="content-box">
										<div id="ProgramInfo09" v-bind:class="classForEnded" class="program-info">
											<div class="program-title fs-m f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days fs-m"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
												<div class="days fs-m"><span class="f-b-bold day2">DAY2</span><span>{{ schedule_local_day2 }}</span></div>								
											</div>
											<div class="program-summary fs-m f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-m">{{ channel_title_local }}</button>
										</div>
									</div>
									<div class="content-box">
										<div id="ProgramInfo10" v-bind:class="classForEnded" class="program-info">
											<div class="program-title fs-m f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days fs-m"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
												<div class="days fs-m"><span class="f-b-bold day2">DAY2</span><span>{{ schedule_local_day2 }}</span></div>								
											</div>
											<div class="program-summary fs-m f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-m">{{ channel_title_local }}</button>
										</div>
									</div>
								</div>
							</article>
							<article id="program06" class="program-contents program-section_06">
								<div class="content-inner">
									<div class="content-box">
										<div class="stage-area">
											<img src="./images/program_building_vr.png">
										</div>
										<div id="ProgramInfo11" v-bind:class="classForEnded" class="program-info">
											<div class="state_upcoming hidden">UPCOMING</div>
											<div class="program-title f-b-bold">{{ title_local }}</div>
											<div class="program-date">
												<div class="days"><span class="f-b-bold day1">DAY1</span><span>{{ schedule_local_day1 }}</span></div>
												<div class="days"><span class="f-b-bold day2">DAY2</span><span>{{ schedule_local_day2 }}</span></div>								
											</div>
											<div class="program-summary f-n-bold hidden">{{ description_local }}</div>
											<button v-on:click="viewChannel" v-bind:class="classByState" class="btn btn-round btn-l">{{ channel_title_local }}</button>
										</div>
									</div>
								</div>
							</article>								
						</div>
					</div>
				</section>
				<section id="lineup" class="lineup-section">
					<div class="content-container">
						<div class="section-bg_lineup">
							<div class="content-inner">
								<div class="content-header program-header">
									<h1 class="main-title">KMF LineUp</h1>
									<span v-if="language === 'ko'" class="sub-title">설레는 여름날에 어울리는 뮤지션들의 페스티벌을 각각의 스테이지에서 만나보세요!</span>									
									<span v-else class="sub-title">Meet a festival of musicians that goes with your exciting summer days at each stage!</span>									
								</div>								
								<div class="content-box">
									<div class="tabs-slider-area">
										<div class="tab-slider-nav">
											<ul class="tabs tabs-nav animated ">
												<li rel="tab1" class="tab-menu active">2018.08.1 1DAY</li>
												<li rel="tab2" class="tab-menu">2018.08.2 2DAY</li>
											</ul>
										</div>		
										<div class="tab-container">
											<div id="tab1" class="tab-content active">
												<div class="content-inner">
													<div class="content-box">
														<div class="lineup-content">
															<img v-if="language === 'ko'" src="./images/linup_day1_ko.png" />
															<img v-else src="./images/linup_day1_en.png" />
														</div>													
													</div>
												</div>
											</div>
											<div id="tab2" class="tab-content">
												<div class="content-inner">
													<div class="content-box">
														<div class="lineup-content">
															<img v-if="language === 'ko'" src="./images/linup_day2_ko.png">
															<img v-else src="./images/linup_day2_en.png">
														</div>													
													</div>
												</div>
											</div>
										</div>
									</div>
									<div v-if="language === 'ko'" class="info_text-xs">출연자의 사정으로 출연일이 변경 또는 취소될 수 있습니다.</div>
									<div v-else class="info_text-xs">Artist may be changed or canceled.</div>
								</div>								
							</div>
						</div>
					</div>		
				</section>
				<section id="schedule" class="schedule-section">
					<div class="content-container">
						<div class="section-bg_schedule">
							<div class="content-inner">
								<div class="content-header program-header">
									<h1 class="main-title">KMF SCHEDULE</h1>
									<span v-if="language === 'ko'" class="sub-title">Live Ticket으로 KMF의 유료 프로그램을 즐길 수 있습니다.</span>									
									<span v-else class="sub-title">Various programs of KMF can be enjoyed as a live ticket.</span>									
								</div>
								
								<template v-if="language === 'ko'">
									<div class="schedule_area"><img src="./images/img_schedule_ko.png" /></div>
									<div class="info_text-xs">주최측 사정에 의해 일부 프로그램이 변경 또는 취소 될 수있습니다.</div>							
								</template>
								<template v-else>
									<div class="schedule_area"><img src="./images/img_schedule_en.png" /></div>
									<div class="info_text-xs">This schedule may change or be canceled.</div>							
								</template>
							</div>
						</div>
					</div>		
				</section>	

				<section id="event" class="event-section">
					<div class="content-container">
						<div class="section-bg_event">
							<div class="content-inner">
								<div class="content-header program-header">
									<h1 class="main-title">KMF Event</h1>
									<span v-if="language === 'ko'" class="sub-title">KMF를 위해 빵야TV에서 준비한 초특급 스페셜 이벤트!!</span>	
									<span v-else class="sub-title">We have prepared a special event!!</span>					
								</div>
								<div class="content-box">
									<div class="event-area">
										<template v-if="language === 'ko'">
											<!-- <img src="./images/event_ticket_ko.png"> -->
											<img src="./images/event_ticket_kr.png">
											<div class="event-info">
												<ul>
													<li>
														<div class="event-name">참가대상</div>
														<div class="event-content">빵야TV 회원가입자</div>
													</li>
													<li>
														<div class="event-name">참가 방법</div>
														<div class="event-content"> KMF티켓을 <span class="f-color_yellow">꼭 받아야 하는 사연</span>과 <span class="f-color_yellow">응원하는 아티스트의 이름</span>을 적어<br>KMF전용 이메일(kmfbbangyatv@bbangyatv.co.kr)로 보내주세요.
															<span class="event-content_s">※ 이메일 제목에 [KMF티켓이벤트]문구와 회원가입 아이디를 함께 적어 주세요.</span>
														</div>
													</li>
													<li>
														<div class="event-name">일 정</div>
														<div class="event-content">7월 11일(수요일) ~ 7월 18일(수요일)</div>
													</li>
													<li>
														<div class="event-name">당첨 인원</div>
														<div class="event-content">250명 (1인당 티켓 2매 증정)
															<span class="event-content_s">※ 1일, 2일 공연티켓을 랜덤으로 증정합니다.</span>
														</div>
													</li>
													<li>
														<div class="event-name">당첨자 발표</div>
														<div class="event-content"> 7월 20일 (금요일)</div>
													</li>
													<li>
														<div class="event-name">상품 수령</div>
														<div class="event-content"> 현장 수령
															<span class="event-content_s">※ 현장 티켓 수령 시, 3가지(회원아이디, 닉네임, 이름)를 확인하고 배포 할 예정이니<br>수령 전에 정확한 아이디와 닉네임을 확인해 주세요.</span>														
														</div>
													</li>
												</ul>
											</div>
											<div class="btn-area">
												<a href="https://www.bbangyatv.com/join" target="bbangyatv" class="btn btn-round btn-l btn-event">회원가입 하러 가기</a>
											</div>
										</template>
										<template v-else>
											<img src="./images/event_ticket_en.png">
											<div class="event-info event-info_en">
												<ul>
													<li>
														<h3 class="event-content_top">Available for all bbangya tv members</h3>
													</li>
													<li>
														<div class="event-name">How to</div>
														<div class="event-content"> email to kmfbbangyatv@bbangyatv.co.kr with your favorite singers and your name and <br>reasons you would like to go to KMF concert.
															<span class="event-content_s">※ Please use email title as [KMF ticket event]</span>
														</div>
													</li>
													<li>
														<div class="event-name">Duration</div>
														<div class="event-content">Wednesday, July 11, 2018 to Wednesday, July 18, 2018 (1 week only) (KST)</div>
													</li>
													<li>
														<div class="event-name">Winners</div>
														<div class="event-content">250 people (1 person will get 2 tickets)
															<span class="event-content_s">※ Either August 1 or 2, 2018 concert tickets will be randomly distributed.</span>
														</div>
													</li>
													<li>
														<div class="event-name event-name_en f-size_s">Winner announcement</div>
														<div class="event-content">Friday, July 20, 2018</div>
													</li>
													<li>
														<div class="event-name event-name_en">Ticket pickup</div>
														<div class="event-content">in-person pick up only at the site.														
														</div>
													</li>
												</ul>
											</div>
											<div class="btn-area">
												<a href="https://www.bbangyatv.com/join" target="bbangyatv" class="btn btn-round btn-l btn-event">Join us</a>
											</div>
										</template>
									</div>
									<div class="event-area">
										<template v-if="language === 'ko'">
											<img src="./images/event_photobook_ko.png">
											<div class="event-info event-info02">											
												<div class="event-content">KMF티켓 유료결제 회원을 위한 특별한 이벤트가 준비중입니다. 
												<br>
												(7월20일 예정)
												</div>
											</div>		
										</template>
										<template v-else>
											<img src="./images/event_photobook_en.png">
											<div class="event-info event-info02">											
												<div class="event-content">Special events are coming soon. 
												<br>
												(20th July)
												</div>
											</div>		
										</template>
									</div>
									<div class="event-notice">									
										<div class="notice-area">
											<template v-if="language === 'ko'">
												<h3>이벤트 안내사항</h3>
												<ul class="">
													<li>본 이벤트로 접수된 개인정보는 이벤트 상품(티켓, 포토북) 발송용으로 만 사용됩니다.</li>
													<li>이벤트 참여 목적으로 보내주신 개인정보는 빵야TV내에서 개인정보 수집 및 이용에 동의한 것으로 보며, 개인정보 수집 및 이용에 동의하지 않는다면 이벤트에 참여 할 수 없습니다.</li>
													<li>본 이벤트 목적으로 수집된 개인 정보는 이벤트 종료(2018년 8월 17일) 후 파기 될 예정입니다.</li>
												</ul>
											</template>
											<template v-else>
												<h3>Notice</h3>
												<ul class="">
													<li>All personal information gathered during the event will be used only for event purposes.</li>
													<li>Participating in events will be regarded as agree with bbangya tv’s terms and agreement. Without agreeing/accepting terms and policies, one cannot participate in bbangya tv’s events.</li>
													<li>Gathered personal information will be destroyed after termination of events (August 17, 2018)</li>
												</ul>
											</template>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</section>

				<section id="ticket" class="ticket-section">
					<div class="content-container">
						<div class="section-bg_ticket">
							<div class="content-inner">
								<template v-if="language === 'ko'">
									<div class="content-header program-header">
										<h1 class="main-title">KMF Ticket</h1>
										<span class="sub-title">LIVE TICKET으로 KMF의 모든 라이브 영상들을 즐길 수 있습니다.</span>
									</div>
									<div class="ticket-area">
										<span class="info_text-xs">* 티켓 예매는 2018년 07월 20일 금요일부터 시작됩니다. *</span>	
										<ul class="">
											<li>
												<a v-on:click.prevent="buyTicket(1)"><img src="./images/ticke_day1_ko.png"></a>
											</li>
											<li>
												<a v-on:click.prevent="buyTicket(2)"><img src="./images/ticke_day2_ko.png"></a>
											</li>
											<li>
												<a v-on:click.prevent="buyTicket(3)"><img src="./images/ticke_allday_ko.png"></a>
											</li>
										</ul>								
									</div>
									<div class="ticket-notice">									
										<div class="notice-area01">
											<h3>티켓 유의사항</h3>
											<ul class="">
												<li>티켓은 우편으로 배송되지 않습니다.(로그인시 자동 업데이트)</li>
												<li>구매한 계정을 탈퇴하면 복구 되지 않습니다.</li>
												<li>KMF LIVE TICKET가격에는 VOD 1년 무제한 이용권이 포함된 가격입니다.</li>
											</ul>
										</div>
										<div class="notice-area02">
											<h3>환불 유의사항</h3>
											<ul class="">
												<li>라이브 서비스 제공 당일(2018년 8월 1일 00시 기준) 이후에는 환불을 요청 할 수 없습니다.</li>
												<li>라이브 서비스 제공 전일(2018년 7월 31일 24시 기준)까지 요청한 경우 구매수수료를 제외한 금액이 환불 됩니다. </li>
												<li>구매수수료기준은 카드결제, 가상계좌 등의 결제에 따라 수수료는 상이합니다.</li>
												<li>자세한 사항은 유료약관에 게시되어있습니다.</li>
												<li>환불관련 문의는 <u>kmfbbangyatv@bbangyatv.co.kr</u> 로 문의 주세요.</li>											
											</ul>
										</div>
									</div>
								</template>
								<template v-else>
									<div class="content-header program-header">
										<h1 class="main-title">KMF Ticket</h1>
										<span class="sub-title">bbnagya tv’s live ticket will enable full access to all of kmf features.</span>
									</div>
									<div class="ticket-area">
										<span class="info_text-xs">* Ticket sales starts from Friday, July 20, 2018. *</span>	
										<ul class="">
											<li>
												<a v-on:click.prevent="buyTicket(1)"><img src="./images/ticke_day1_en.png"></a>
											</li>
											<li>
												<a v-on:click.prevent="buyTicket(2)"><img src="./images/ticke_day2_en.png"></a>
											</li>
											<li>
												<a v-on:click.prevent="buyTicket(3)"><img src="./images/ticke_allday_en.png"></a>
											</li>
										</ul>								
									</div>
									<div class="ticket-notice">									
										<div class="notice-area01">
											<h3>Notice for ticket sales</h3>
											<ul class="">
												<li>Tickets are not send via mails. (Automatic updates once log-in to bbangya tv)</li>
												<li>If you withdraw bbangya’s membership, purchased tickets will not be usable.</li>
												<li>KMF live ticket price includes 1-year free access to vod clips of KMF.</li>
											</ul>
										</div>
										<div class="notice-area02">
											<h3>Refund policy</h3>
											<ul class="">
												<li>Refunds are not available from the actual date of live-streaming service. (August 1, 2018 00:00am)</li>
												<li>Refunds made before July 31, 2018 23:59pm will refund after deduct cancellation charges.</li>
												<li>Cancellation charges vary upon credit card fees and bank account fees.</li>
												<li>You may find more details from our website’s terms and policies.</li>
												<li>If you have more questions, please contact to bbangya tv’s email to <u>kmfbbangyatv@bbangyatv.co.kr</u></li>											
											</ul>
										</div>
									</div>
								</template>
							</div>
						</div>
					</div>
				</section>

				
				<section id="notice" class="notice-section">
					<div class="">
						<div class="section-bg_notice">
							<div class="note-area">
								<div class="content-inner">
									<template v-if="language === 'ko'">
										<div class="notice-area03">
											<h3 class="notice-header">유의사항</h3>
											<ul class="">
												<li>본 사이트에 명시 된 시간은 한국표준시(KST)를 기준으로 합니다.</li>
												<li>접속국가에 따라 유료, 무료 프로그램의 차이가 있습니다.</li>
												<li>브라우저 및 단말기, 접속 환경 따라 서비스의 품질이 달라질 수 있습니다.</li>
												<li>온라인 라이브 중계 및 VOD를 무단으로 복제, 배포, 전송을 하는 등의 불법 이용행위는 처벌대상이 되는 범죄행위로 위반시 민사상 책임은 물론 형사상 처벌을 받게 됩니다.</li>
												<li>궁금한 사항은 <u>kmfbbangyatv@bbangyatv.co.kr</u> 로 문의해주세요.</li>											
											</ul>
										</div>
									</template>
									<template v-else>
										<div class="notice-area03">
											<h3 class="notice-header">Notice</h3>
											<ul class="">
												<li>All times are based on Korean standard time (KST)</li>
												<li>Based on logging in countries, paid or free programs may service differently</li>
												<li>Quality of service may vary due to internet browser, internet speed, or electronic devices.</li>
												<li>Distribution, re-distribution, copy, or send of live-streaming or vod services are strictly prohihibited by laws. It may subject to fine or imprisonment.</li>
												<li>If you have more questions, please contact to bbangya tv’s email to <u>kmfbbangyatv@bbangyatv.co.kr</u></li>											
											</ul>
										</div>
									</template>
								</div>
							</div>
							
							<div class="notice-area">
								<div class="content-inner">
									<div class="notice-contents">
										<template v-if="language === 'ko'">
											<div class="notice-header">공지사항</div>
											<ul class="list_vertical-scroll motion_list">
												<li><a v-on:click.prevent="viewNotice(1)">KMF 라이브 공연과 관련한 변동사항은 공지사항에 업데이트 됩니다.</a></li>
											</ul>
										</template>
										<template v-else>
											<div class="notice-header">Announcement</div>
											<ul class="list_vertical-scroll motion_list">
												<li><a v-on:click.prevent="viewNotice(1)">Announcement regarding kmf will be updated on bbangya tv website.</a></li>
											</ul>
										</template>
										<div class="btn_grop" style="visibility: hidden;">										
											<button class="btn btn-outline"><span class="icon-arrow icon-previous"></span></button>
											<button class="btn btn-outline" style="margin-left: -5px;"><span class="icon-arrow icon-next"></span></button>
										</div>
									</div>
								</div>		
							</div>
						</div>
					</div>
				</section>	


				<section class="view-section">
					<div class="content-container modal fade-scale" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="section-bg_view modal-dialog">
							<div class="modal-content">
								<div class="ani-program">
									<div class="ani cloud-right1 animated fadeInRight">
										<div class="cloud1"><img src="./images/program_cloud-left-01.png"></div>
									</div>
									<div class="ani cloud-left-set1 animated fadeInLeft">
										<div class="cloud"><img src="./images/program_cloud-right-01.png"></div>
										<div class="balloon"><img src="./images/program_balloon-right-01.png"></div>
									</div>
								</div>
								<div class="btn-area">
									<button class="btn close" data-dismiss="modal" aria-hidden="true"><span class="icon-close"></span></button>
								</div>
								<div class="content-inner">
									<div class="content-box">
										<div class="content-header program-header">
											<h1 class="main-title">{{ title_local }}</h1>
										</div>
										<div class="video_play_area">
											<div class="video_play">
												<iframe id="playerFrame" v-bind:src="content_url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;"></iframe>				
											</div>
										</div>
										<div class="concert-bottom"><img src="./images/view_concert_bottom.png"></div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
	 	</div>
	 	<footer id="footer" class="footer">
			<p>Copyrights ⓒ bbangyaTV</p>
	 		<button onclick="" id="scrollToTop" title="Go to top" class="btn_scrolltop"><span class="icon-triangle"></span>TOP</button>
		</footer>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116242162-3"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-116242162-3');
		</script>
	</body>
	
	<script type="text/javascript" src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
	<script type="text/javascript" src='../common/bootstrap.min.js'></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
	<script type="text/javascript" src="../common/vue.min.js"></script>
	<script type="text/javascript" src="../common/cookieUtils.js"></script>
	<script type="text/javascript" src="../common/kmf_vm.js"></script>
	<script type="text/javascript" src="../common/kmf_style.js"></script>
</html>
